# Instagram Configuration
INSTAGRAM_USERNAME=votre_username_instagram
INSTAGRAM_PAGE_ACCESS_TOKEN=votre_page_access_token
INSTAGRAM_PAGE_ID=votre_page_facebook_id

# Service à utiliser (instagram, etc.)
SERVICE=instagram

# Configuration serveur
PORT=9000

# Durée de vie du cache en secondes (cache PHP fichier)
# penser à mettre la même valeur dans le cache serveur nginx default.conf
CACHE_LIFETIME=120

# User et Group ID pour les permissions Docker
LOCAL_UID=501
LOCAL_GID=20