version: '3.8'

services:
  php:
    build:
      context: .
      dockerfile: ./conf/docker/php.Dockerfile
    container_name: spx-smiirl-php
    volumes:
      - .:/var/www/html
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - spx-network

  nginx:
    build:
      context: .
      dockerfile: ./conf/docker/nginx.Dockerfile
    container_name: spx-smiirl-nginx
    depends_on:
      - php
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${PORT:-8080}:80"
    volumes:
      - ./conf/nginx/conf.d:/etc/nginx/conf.d
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf
      - .:/var/www/html
      - ./conf/nginx/log:/var/log/nginx
    networks:
      - spx-network

networks:
  spx-network:
    driver: bridge
